<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288970087002-u69t9t6nhii9bjt45bfpnsjc35b70d07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288970087002-u69t9t6nhii9bjt45bfpnsjc35b70d07</string>
	<key>API_KEY</key>
	<string>AIzaSyAvO3fzGrUaOP_dTvqjUiP7R1j88VvzgUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>288970087002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.thu.lorapark-app</string>
	<key>PROJECT_ID</key>
	<string>loraparkapp-ee5d9</string>
	<key>STORAGE_BUCKET</key>
	<string>loraparkapp-ee5d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288970087002:ios:32ee5700bd657858135663</string>
	<key>DATABASE_URL</key>
	<string>https://loraparkapp-ee5d9.firebaseio.com</string>
</dict>
</plist>